@model IhmLlamaMvc.Mvc.ViewModels.Conversation.ConversationViewModel

<input asp-for="InitialesAgent" type="hidden" />
<input asp-for="ConversationId" type="hidden" />
<input asp-for="IdentifiantSession" type="hidden" />

<div class="left-sidebar-grid">

    <header class="header">
        <div class='headergrid'>
            <p class="left">Chat multi IA LLM </p>
            <span id="headerlabel" class="center">
                Chattez avec
                <select asp-for="ModeleId" asp-items="@Model.listeModeles">
                </select>
            </span>
            <p class="right">Bonjour @Model.IdentiteAgent</p>
        </div>
    </header>

    <div class="espace"></div>

    <main class="main-content">

        <partial name="_NavBarPartial" />

        <div id="showQuestionAnswer" class="center"></div>

        <form class="container" asp-action="PoserQuestion" method="post" id="searchForm" role="form">

            <textarea class="questionclass svg-demo" asp-for="Question"
                      placeholder="Saisissez votre question ici..."></textarea>

            <span asp-validation-for="Question" class="text-danger"></span>
            <br />

            <button type="submit" id="rechercher">
                <img src="~/images/play.png"
                     alt="soumettre" height="32" width="32"
                     title="Soumettre la question" />
            </button>
        </form>

    </main>

    <section id="sidebar" class="left-sidebar collapsed">
        <h5 class="center">Historique</h5>
        @*  <div class="alignRight">
        <button id="show-sidebar">
        <img src="~/images/greater-than-solid.svg"
        alt="Deplier" height="24" width="24"
        title="Déplier" />
        </button>

        </div> *@
        <div id="listeHistorique">
           
        </div>


    </section>
</div>

<div id="mapconversation"
     data-url-soumettre-formulaire-link="@Url.Content("~/Home/PoserQuestion")"
     data-url-supprimer-conversation-link="@Url.Content("~/Home/SupprimerConversationEnSession")"
     data-url-sauvegarder-conversation-link="@Url.Content("~/Home/SauvegarderConversation")"
     data-url-charger-conversation-link="@Url.Content("~/Home/ChargerConversationEnSession")"

     data-icon-path-ollama="@Url.Content("~/images/ollama.png")"
     data-icon-path-phi="@Url.Content("~/images/phi.png")"
     data-icon-delete="@Url.Content("~/images/trash-solid.svg")"
     data-icon-open-chat="@Url.Content("~/images/folder-open-solid.svg")"
     data-url-initiales-user="@Url.Content(@Model.InitialesAgent)"
     data-historique-chats="@Model.HistoriqueChats"
     @* data-liste-questions="@Model.listeQuestions" *@
     >
</div>
<script src="~/js/ShowIaprompt.js"></script>

