@model IhmLlamaMvc.Mvc.ViewModels.Conversation.ConversationViewModel

<input asp-for="InitialesAgent" type="hidden" />

<div class="left-sidebar-grid">

    <header class="header">
        <div class='grid'>
            <p class="left">SI - DGCCRF </p>
            <span id="headerlabel" class="center">
                Conversation avec LLM
                <select asp-for="ModeleId" asp-items="@Model.listeModeles">
                </select>
            </span>
            <p class="right">Bonjour @Model.IdentiteAgent</p>
        </div>
    </header>

    <main class="main-content">
        <partial name="_NavBarPartial" />
       
        <div id="showQuestionAnswer" class="center"></div>

        <form class="container" asp-action="PoserQuestion" method="post" id="searchForm" role="form">

            <textarea class="questionclass svg-demo" asp-for="Question"
                      placeholder="Saisissez votre question ici..."></textarea>

            <span asp-validation-for="Question" class="text-danger"></span>
            <br/>

            <button type="submit" id="rechercher">
                <img src="~/images/circle-play-solid.svg"
                     alt="soumettre" height="36" width="48"
                     title="Soumettre la question"/>
            </button>
        </form>

    </main>

    <section id="sidebar" class="left-sidebar collapsed">
        <div class="alignRight">
            <button id="show-sidebar">
                <img src="~/images/greater-than-solid.svg"
                     alt="Deplier" height="24" width="24"
                     title="Déplier" />
            </button>

        </div>
        <ul>
            <li>
                <a href="#">Historique</a>

            </li>
            <li>
                <a href="#">requête 1</a>
            </li>
        </ul>


    </section>
</div>

<div id="mapconversation"
     data-url-soumettre-formulaire-link="@Url.Content("~/Home/PoserQuestion")"
     data-url-initiales-user="@Url.Content(@Model.InitialesAgent)"
     data-icon-path-ollama="@Url.Content("~/images/ollama.png")">
    >
</div>
<script src="~/js/ShowIaprompt.js"></script>

